.container {
	margin-inline: 10px;
	max-width: 1000px;

	@media(max-width: 500px) {
		margin-inline: 0px;
	}

	@media(min-width: 1020px) {
		margin-inline: auto;
	}
}

.container>h1,
.container>p {
	@media(max-width: 500px) {
		margin-inline: 10px;
	}
}

tr.user-is-disabled {
	background-color: var(--mat-sys-error-container);
	color: var(--mat-sys-on-error-container);
}
