{
	admin off
	skip_install_trust
	auto_https disable_redirects
}

localhost:4200 {
	@backend {
		path /api/* /auth/*
	}
	handle @backend {
		reverse_proxy @backend localhost:4444
		encode
	}

	handle /robots.txt {
		respond <<EOF
		user-agent: *
		disallow: /"
		EOF 200
	}
	# frontend
	handle {
		root frontend/dist/weblab-project/browser/
		try_files {path} /index.html
		file_server
		encode
	}
}
