:host {
	display: block;
}

a {
	all: inherit;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

mat-card-content p {
	white-space: pre-wrap;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--max-lines);
	line-clamp: var(--max-lines);
}

.time {
	padding-left: 16px;
	display: flex;
	gap: 4px;
	opacity: 0.6;
	font: var(--mat-sys-body-small);
}

.title {
	color: var(--mat-sys-primary);
}

.spacer {
	flex: auto;
}
